/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  width: 70%;
  margin: auto;
}

@media only screen and (max-width: 700px) {
  .main {
    width: 90%;
  }
}